In [1]:
#importing libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
#importing dataset
ds= pd.read_csv(r'C:\Users\mycom\Desktop\UK_Traffic_Accidents_2015.csv')

In [5]:
ds

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,201501BS70001,525130.0,180050.0,-0.198465,51.505538,1,3,1,1,12/01/2015,...,0,0,4,1,1,0,0,1,1,E01002825
1,201501BS70002,526530.0,178560.0,-0.178838,51.491836,1,3,1,1,12/01/2015,...,0,0,1,1,1,0,0,1,1,E01002820
2,201501BS70004,524610.0,181080.0,-0.205590,51.514910,1,3,1,1,12/01/2015,...,0,1,4,2,2,0,0,1,1,E01002833
3,201501BS70005,524420.0,181080.0,-0.208327,51.514952,1,3,1,1,13/01/2015,...,0,0,1,1,2,0,0,1,2,E01002874
4,201501BS70008,524630.0,179040.0,-0.206022,51.496572,1,2,2,1,09/01/2015,...,0,5,1,2,2,0,0,1,2,E01002814
5,201501BS70009,525480.0,179530.0,-0.193610,51.500788,1,3,2,1,15/01/2015,...,0,4,1,1,2,0,0,1,1,E01002816
6,201501BS70010,526890.0,178940.0,-0.173519,51.495171,1,3,2,1,15/01/2015,...,0,5,1,8,2,0,0,1,1,E01002821
7,201501BS70011,527590.0,178660.0,-0.163542,51.492497,1,3,2,1,18/01/2015,...,0,0,1,1,1,0,0,1,1,E01002861
8,201501BS70012,524170.0,180930.0,-0.211980,51.513659,1,3,2,1,16/01/2015,...,0,1,1,1,1,0,0,1,1,E01002879
9,201501BS70013,525010.0,181200.0,-0.199786,51.515900,1,3,2,2,20/01/2015,...,0,0,1,8,1,0,0,1,1,E01002832
10,201501BS70014,523850.0,181450.0,-0.216407,51.518402,1,3,2,1,23/01/2015,...,0,0,4,2,2,0,0,1,1,E01002909
11,201501BS70015,526110.0,179650.0,-0.184495,51.501726,1,3,1,2,22/01/2015,...,0,5,1,1,1,0,0,1,1,E01002891
12,201501BS70016,526970.0,178510.0,-0.172522,51.491289,1,3,2,1,21/01/2015,...,0,0,4,1,1,0,0,1,1,E01002914
13,201501BS70017,525350.0,178640.0,-0.195797,51.492818,1,3,1,1,21/01/2015,...,0,0,1,1,1,0,0,1,1,E01002847
14,201501BS70018,527370.0,178170.0,-0.166886,51.488143,1,3,1,1,23/01/2015,...,0,0,1,1,1,0,0,1,1,E01002899
15,201501BS70019,527370.0,178180.0,-0.166882,51.488233,1,3,1,1,23/01/2015,...,0,0,4,1,1,0,0,1,1,E01002899
16,201501BS70020,524020.0,181050.0,-0.214099,51.514770,1,3,2,1,23/01/2015,...,0,0,1,1,1,0,0,1,1,E01002878
17,201501BS70022,526200.0,177720.0,-0.183889,51.484361,1,3,2,1,25/01/2015,...,0,5,4,1,1,0,0,1,1,E01002912
18,201501BS70023,524450.0,181560.0,-0.207725,51.519259,1,3,1,1,24/01/2015,...,0,0,4,1,1,0,0,1,1,E01002855
19,201501BS70024,526940.0,178480.0,-0.172964,51.491026,1,3,2,1,23/01/2015,...,0,0,1,1,1,0,0,1,1,E01002914
20,201501BS70026,527600.0,179480.0,-0.163102,51.499864,1,2,1,1,23/01/2015,...,0,4,4,2,2,0,0,1,1,E01002819
21,201501BS70027,525560.0,178170.0,-0.192941,51.488548,1,3,1,1,20/01/2015,...,0,5,4,1,1,0,0,1,2,E01002846
22,201501BS70029,525510.0,178130.0,-0.193675,51.488199,1,3,2,1,20/01/2015,...,0,0,1,1,1,0,0,1,2,E01002894
23,201501BS70030,523910.0,181390.0,-0.215564,51.517850,1,3,2,2,28/01/2015,...,0,0,1,2,2,0,0,1,1,E01002878
24,201501BS70033,526090.0,177600.0,-0.185515,51.483307,1,3,2,2,30/01/2015,...,0,5,4,1,1,0,0,1,1,E01002912
25,201501BS70034,527560.0,179160.0,-0.163793,51.496997,1,3,1,1,29/01/2015,...,0,5,4,1,1,0,0,1,1,E01002818
26,201501BS70035,527950.0,178890.0,-0.158276,51.494483,1,3,1,1,29/01/2015,...,0,1,4,1,1,0,0,1,1,E01002859
27,201501BS70036,525390.0,180190.0,-0.194671,51.506739,1,3,1,1,30/01/2015,...,0,0,1,1,1,0,0,1,1,E01002827
28,201501BS70037,527350.0,177640.0,-0.167365,51.483385,1,3,2,1,01/02/2015,...,0,5,1,1,2,0,0,1,1,E01002844
29,201501BS70038,527340.0,178160.0,-0.167321,51.488060,1,3,1,1,30/01/2015,...,0,0,4,1,1,0,0,1,1,E01002899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140026,2015984126215,338953.0,576296.0,-2.957692,55.077345,98,3,3,2,17/08/2015,...,0,0,1,1,1,0,0,2,1,NaN
140027,2015984126815,317327.0,566149.0,-3.293388,54.983052,98,3,2,2,21/08/2015,...,0,0,1,1,1,0,0,2,1,NaN
140028,2015984126915,318128.0,575574.0,-3.283579,55.067857,98,3,2,3,24/08/2015,...,0,0,6,2,5,0,0,2,1,NaN
140029,2015984127315,320333.0,567053.0,-3.246680,54.991664,98,3,2,1,17/08/2015,...,0,0,1,1,1,0,0,2,1,NaN
140030,2015984127515,319848.0,566515.0,-3.254108,54.986752,98,3,2,1,23/08/2015,...,0,0,1,1,1,0,0,2,2,NaN
140031,2015984127615,338620.0,595149.0,-2.966998,55.246691,98,3,1,1,27/08/2015,...,0,0,1,2,2,0,0,2,1,NaN
140032,2015984128215,327982.0,570650.0,-3.128065,55.025147,98,1,1,2,30/08/2015,...,0,0,1,1,1,0,0,2,1,NaN
140033,2015984128515,318980.0,575210.0,-3.270137,55.064727,98,2,1,1,04/09/2015,...,0,0,1,1,1,0,0,2,1,NaN
140034,2015984129115,309715.0,598908.0,-3.422724,55.276010,98,3,2,1,09/09/2015,...,0,0,6,1,1,0,0,2,1,NaN
140035,2015984129715,330766.0,567430.0,-3.083745,54.996613,98,3,2,1,10/09/2015,...,0,0,1,1,1,0,0,2,1,NaN
140036,2015984130315,312312.0,605860.0,-3.384031,55.338930,98,3,2,1,27/09/2015,...,0,0,1,1,1,0,0,2,2,NaN
140037,2015984130815,310460.0,604532.0,-3.412795,55.326666,98,2,1,1,03/10/2015,...,0,0,1,1,1,0,0,2,1,NaN
140038,2015984131215,328774.0,567001.0,-3.114769,54.992477,98,3,1,1,27/09/2015,...,0,0,6,1,1,0,0,2,1,NaN
140039,2015984132215,320174.0,566497.0,-3.249009,54.986643,98,3,1,1,20/10/2015,...,0,0,1,1,1,0,0,2,1,NaN
140040,2015984132315,325193.0,568986.0,-3.171246,55.009785,98,3,2,2,23/10/2015,...,0,0,1,1,1,0,0,2,1,NaN
140041,2015984132815,315619.0,578498.0,-3.323723,55.093705,98,2,2,1,02/11/2015,...,0,0,1,1,1,0,0,2,1,NaN
140042,2015984133015,319506.0,566586.0,-3.259471,54.987335,98,3,2,1,04/11/2015,...,0,4,4,1,2,0,0,2,1,NaN
140043,2015984133115,308738.0,579979.0,-3.431983,55.105789,98,3,1,1,04/11/2015,...,0,0,6,1,2,0,0,2,1,NaN
140044,2015984133815,314076.0,578925.0,-3.348023,55.097276,98,2,3,4,09/11/2015,...,0,0,1,2,2,0,0,2,1,NaN
140045,2015984134815,310142.0,596869.0,-3.415353,55.257772,98,3,1,1,28/10/2015,...,0,0,6,1,1,0,7,2,1,NaN
140046,2015984135815,338928.0,576364.0,-2.958098,55.077953,98,3,2,1,20/11/2015,...,0,0,6,2,2,0,0,2,1,NaN
140047,2015984136815,324728.0,566339.0,-3.177818,54.985933,98,3,1,2,24/11/2015,...,0,0,4,1,2,0,0,2,1,NaN
140048,2015984137515,327369.0,566993.0,-3.136722,54.992202,98,3,2,1,01/12/2015,...,0,0,6,4,2,0,0,2,1,NaN
140049,2015984137615,319301.0,566593.0,-3.262676,54.987365,98,3,2,1,02/12/2015,...,0,5,4,2,2,0,0,2,1,NaN
140050,2015984139015,304440.0,580166.0,-3.499388,55.106659,98,3,1,1,13/12/2015,...,0,0,6,7,4,0,0,2,2,NaN
140051,2015984139115,312087.0,570791.0,-3.376671,55.023855,98,3,3,1,11/12/2015,...,0,0,1,1,2,0,0,2,1,NaN
140052,2015984139715,320671.0,569791.0,-3.242159,55.016316,98,3,2,1,02/12/2015,...,0,0,1,1,2,0,0,2,1,NaN
140053,2015984140215,311731.0,586343.0,-3.387067,55.163502,98,2,1,4,23/12/2015,...,0,0,6,4,2,0,0,2,1,NaN
140054,2015984140515,328273.0,570137.0,-3.123385,55.020580,98,3,3,3,26/12/2015,...,0,0,1,2,2,0,0,2,1,NaN
140055,2015984141415,314050.0,579638.0,-3.348646,55.103676,98,3,13,7,31/12/2015,...,0,0,6,3,4,0,0,2,1,NaN

In [6]:
ds.shape

(140056, 32)

In [7]:
#is there NaN value? and how many?
ds.isnull().sum()

Accident_Index                                    0
Location_Easting_OSGR                            27
Location_Northing_OSGR                           27
Longitude                                        27
Latitude                                         27
Police_Force                                      0
Accident_Severity                                 0
Number_of_Vehicles                                0
Number_of_Casualties                              0
Date                                              0
Day_of_Week                                       0
Time                                             18
Local_Authority_(District)                        0
Local_Authority_(Highway)                         0
1st_Road_Class                                    0
1st_Road_Number                                   0
Road_Type                                         0
Speed_limit                                       0
Junction_Detail                                   0
Junction_Control                                  0
2nd_Road_Class                                    0
2nd_Road_Number                                   0
Pedestrian_Crossing-Human_Control                 0
Pedestrian_Crossing-Physical_Facilities           0
Light_Conditions                                  0
Weather_Conditions                                0
Road_Surface_Conditions                           0
Special_Conditions_at_Site                        0
Carriageway_Hazards                               0
Urban_or_Rural_Area                               0
Did_Police_Officer_Attend_Scene_of_Accident       0
LSOA_of_Accident_Location                      8897
dtype: int64

In [8]:
#drop columns (Location_Easting_OSGR, Location_Northing_OSGR, Longitude, Latitude, LSOA_of_Accident_Location)
ds.drop(['Location_Easting_OSGR', 'Location_Northing_OSGR', 'Longitude', 'Latitude', 'LSOA_of_Accident_Location'], axis='columns', inplace=True)

In [9]:
ds.shape

(140056, 27)

In [10]:
ds.isnull().sum()

Accident_Index                                  0
Police_Force                                    0
Accident_Severity                               0
Number_of_Vehicles                              0
Number_of_Casualties                            0
Date                                            0
Day_of_Week                                     0
Time                                           18
Local_Authority_(District)                      0
Local_Authority_(Highway)                       0
1st_Road_Class                                  0
1st_Road_Number                                 0
Road_Type                                       0
Speed_limit                                     0
Junction_Detail                                 0
Junction_Control                                0
2nd_Road_Class                                  0
2nd_Road_Number                                 0
Pedestrian_Crossing-Human_Control               0
Pedestrian_Crossing-Physical_Facilities         0
Light_Conditions                                0
Weather_Conditions                              0
Road_Surface_Conditions                         0
Special_Conditions_at_Site                      0
Carriageway_Hazards                             0
Urban_or_Rural_Area                             0
Did_Police_Officer_Attend_Scene_of_Accident     0
dtype: int64

In [11]:
#Drop Rows with NaN Values
ds.dropna(inplace=True)

In [12]:
ds.shape

(140038, 27)

In [13]:
ds.dtypes

Accident_Index                                 object
Police_Force                                    int64
Accident_Severity                               int64
Number_of_Vehicles                              int64
Number_of_Casualties                            int64
Date                                           object
Day_of_Week                                     int64
Time                                           object
Local_Authority_(District)                      int64
Local_Authority_(Highway)                      object
1st_Road_Class                                  int64
1st_Road_Number                                 int64
Road_Type                                       int64
Speed_limit                                     int64
Junction_Detail                                 int64
Junction_Control                                int64
2nd_Road_Class                                  int64
2nd_Road_Number                                 int64
Pedestrian_Crossing-Human_Control               int64
Pedestrian_Crossing-Physical_Facilities         int64
Light_Conditions                                int64
Weather_Conditions                              int64
Road_Surface_Conditions                         int64
Special_Conditions_at_Site                      int64
Carriageway_Hazards                             int64
Urban_or_Rural_Area                             int64
Did_Police_Officer_Attend_Scene_of_Accident     int64
dtype: object

In [14]:
ds.describe(include='all')
#some give NaN because The describe method for numeric columns doesn't list the number of unique values

,Accident_Index,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),...,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
count,140038,140038.000000,140038.000000,140038.000000,140038.000000,140038,140038.000000,140038,140038.000000,140038,...,140038.000000,140038.000000,140038.000000,140038.000000,140038.000000,140038.000000,140038.000000,140038.000000,140038.000000,140038.000000
unique,140038,NaN,NaN,NaN,NaN,365,NaN,1439,NaN,207,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,201501TX20086,NaN,NaN,NaN,NaN,05/11/2015,NaN,17:00,NaN,E10000016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,535,NaN,1347,NaN,4222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,29.900834,2.833874,1.841015,1.329403,NaN,4.094989,NaN,343.636670,NaN,...,362.949999,0.007198,0.838908,1.952099,1.511433,1.298840,0.098852,0.061762,1.342550,1.198496
std,NaN,25.215497,0.401988,0.710059,0.795454,NaN,1.911296,NaN,258.425001,NaN,...,1263.493680,0.123814,1.932077,1.653916,1.519628,0.554665,0.697969,0.574485,0.474564,0.405985
min,NaN,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,NaN,1.000000,NaN,...,-1.000000,-1.000000,-1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,1.000000,-1.000000
25%,NaN,6.000000,3.000000,1.000000,1.000000,NaN,2.000000,NaN,104.000000,NaN,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
50%,NaN,30.000000,3.000000,2.000000,1.000000,NaN,4.000000,NaN,323.000000,NaN,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
75%,NaN,45.000000,3.000000,2.000000,1.000000,NaN,6.000000,NaN,517.000000,NaN,...,0.000000,0.000000,0.000000,4.000000,1.000000,2.000000,0.000000,0.000000,2.000000,1.000000
max,NaN,98.000000,3.000000,37.000000,38.000000,NaN,7.000000,NaN,941.000000,NaN,...,9999.000000,2.000000,8.000000,7.000000,9.000000,5.000000,7.000000,7.000000,2.000000,3.000000

In [15]:
#so, converting to category
ds1= ds.apply(pd.Categorical, axis=0)

In [16]:
ds1.dtypes

Accident_Index                                 category
Police_Force                                   category
Accident_Severity                              category
Number_of_Vehicles                             category
Number_of_Casualties                           category
Date                                           category
Day_of_Week                                    category
Time                                           category
Local_Authority_(District)                     category
Local_Authority_(Highway)                      category
1st_Road_Class                                 category
1st_Road_Number                                category
Road_Type                                      category
Speed_limit                                    category
Junction_Detail                                category
Junction_Control                               category
2nd_Road_Class                                 category
2nd_Road_Number                                category
Pedestrian_Crossing-Human_Control              category
Pedestrian_Crossing-Physical_Facilities        category
Light_Conditions                               category
Weather_Conditions                             category
Road_Surface_Conditions                        category
Special_Conditions_at_Site                     category
Carriageway_Hazards                            category
Urban_or_Rural_Area                            category
Did_Police_Officer_Attend_Scene_of_Accident    category
dtype: object

In [17]:
ds1.describe(include='all')

,Accident_Index,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),...,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
count,140038,140038,140038,140038,140038,140038,140038,140038,140038,140038,...,140038,140038,140038,140038,140038,140038,140038,140038,140038,140038
unique,140038,51,3,16,22,365,7,1439,380,207,...,3795,4,7,5,9,6,9,7,2,4
top,2015984141415,1,3,2,1,05/11/2015,6,17:00,300,E10000016,...,0,0,0,1,1,1,0,0,1,1
freq,1,24886,118389,84604,109380,535,22374,1347,2970,4222,...,110526,139183,113469,102593,113936,101343,136805,137731,92068,112594

In [18]:
#examined for duplicates >>>>> no duplicates
ds[ds.duplicated()]
sum(ds.duplicated())

0

In [19]:
#some insights

In [20]:
#highest no. of accidents (1347) occured at 17:00 
ds.Time.value_counts().idxmax

<bound method Series.idxmax of 17:00    1347
17:30    1305
18:00    1289
16:00    1251
16:30    1190
15:30    1186
15:00    1136
08:30    1081
13:00    1025
14:00     998
18:30     968
19:00     925
14:30     907
12:00     896
09:00     887
08:00     863
12:30     811
13:30     811
17:15     776
17:45     767
16:45     746
17:20     733
19:30     720
11:00     716
08:45     710
11:30     699
10:00     686
15:45     678
16:15     677
17:10     675
         ...
03:47       5
02:16       5
04:53       5
03:16       5
03:01       5
04:43       5
03:13       5
03:28       5
03:43       5
04:59       4
04:26       4
04:07       4
04:03       4
04:31       4
05:39       4
03:34       4
03:52       4
05:19       4
04:01       4
03:53       3
04:08       3
03:51       3
04:37       3
02:41       3
02:43       3
04:11       3
04:04       2
04:36       2
02:48       2
04:34       1
Name: Time, Length: 1439, dtype: int64>

In [21]:
#the day of lowest no. of casualties (265) >>>>> 28/12/2015
#the day of highest no. of casualties (696) >>>>> 05/11/2015 >>>> mean of accident_severity=2.86 >>> highest number of accidents occur at 17:00 (13 accident) and 18:30 (13)
dates=ds.groupby('Date').sum()

In [22]:
dates

,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Local_Authority_(District),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,...,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
Date,,,,,,,,,,,,,,,,,,,,,
01/01/2015,8097,654,402,325,1175,91313,936,282949,1176,9360,...,78077,3,188,844,459,399,3,7,322,267
01/02/2015,6274,665,399,311,233,73172,948,264230,1199,8750,...,76846,2,256,630,440,331,14,22,303,273
01/03/2015,7289,704,445,341,250,83125,968,262438,1310,9770,...,89151,2,247,564,492,368,15,15,330,291
01/04/2015,10314,947,616,427,1328,118360,1374,303734,1727,12690,...,85119,8,297,524,586,433,20,10,443,414
01/05/2015,11738,1124,742,500,2388,134883,1609,375044,2093,14770,...,122107,1,340,599,466,406,12,10,528,485
01/06/2015,11125,1097,738,520,764,127981,1526,396606,1934,14560,...,95573,2,310,560,726,520,21,18,505,448
01/07/2015,14176,1341,878,586,1884,162798,1950,450022,2460,17440,...,134193,4,329,598,530,497,24,32,619,576
01/08/2015,12048,1024,681,522,2548,136418,1495,309068,1868,14070,...,104384,0,291,577,474,428,37,25,487,420
01/09/2015,10323,1007,673,447,1053,120182,1388,320001,1791,13380,...,115348,10,271,538,470,460,47,30,482,405
01/10/2015,15119,1461,948,649,2550,172221,2104,467580,2645,18840,...,200357,9,418,853,631,526,39,39,656,619
01/11/2015,11062,951,635,469,348,127347,1405,372268,1830,14230,...,122261,-1,321,929,1066,474,34,33,488,404
01/12/2015,13894,1244,822,560,1314,158619,1800,395154,2265,17190,...,177796,1,352,1224,755,672,47,24,590,539
02/01/2015,8097,725,466,346,1566,93390,1093,255717,1370,9970,...,101148,4,213,631,390,333,15,2,354,306
02/02/2015,11818,1064,663,494,746,135079,1537,354409,1847,14900,...,130078,5,304,904,547,617,27,17,506,441
02/03/2015,13554,1199,768,531,832,154158,1702,391544,2158,16370,...,179987,2,340,795,819,637,30,30,571,506
02/04/2015,9884,991,639,479,1770,113563,1458,312978,1832,13200,...,181267,1,336,545,483,415,34,2,453,433
02/05/2015,9709,974,608,460,2422,113187,1401,336941,1792,13180,...,100678,4,329,610,490,443,39,6,463,412
02/06/2015,12239,1134,741,525,1200,141309,1688,388845,2078,15150,...,151866,6,286,522,794,520,52,18,539,491
02/07/2015,13930,1332,854,594,2335,160180,1955,498143,2355,17250,...,198361,3,400,601,597,539,38,38,611,566
02/08/2015,9902,973,637,514,357,113331,1421,308556,1837,13950,...,105012,4,318,609,392,378,35,19,496,404
02/09/2015,11964,1159,783,531,1644,137957,1677,429556,2173,15130,...,104361,3,366,643,486,487,34,14,531,483
02/10/2015,14276,1485,1022,691,3144,165154,2114,545449,2694,19830,...,191021,4,482,936,635,526,45,26,686,615
02/11/2015,11347,1041,671,477,728,130130,1475,364346,1891,14030,...,118559,-1,249,864,1090,494,47,50,496,440
02/12/2015,13691,1229,828,560,1736,156052,1875,393805,2240,15910,...,150148,10,385,1269,788,604,90,23,571,545
03/01/2015,7591,688,417,334,1680,86578,956,190548,1210,9530,...,46348,0,234,687,541,459,38,20,320,279
03/02/2015,12429,1184,767,525,1239,142984,1797,435476,2127,15530,...,173059,4,337,976,676,772,37,28,552,493
03/03/2015,13003,1227,768,560,1278,148818,1797,372339,2152,15730,...,128278,5,379,823,646,530,45,25,539,539
03/04/2015,9933,857,556,478,1818,113018,1202,295684,1518,12200,...,156127,0,304,571,475,472,43,23,418,354
03/05/2015,9764,844,536,423,301,110869,1225,292323,1531,12050,...,113426,2,166,530,478,454,44,36,424,342
03/06/2015,11712,1184,807,520,1680,136912,1699,442406,2239,15420,...,203676,0,439,521,526,430,37,18,551,504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28/12/2015,6380,574,355,265,404,72452,832,204007,1039,7520,...,49198,-2,165,609,320,268,4,29,261,239
29/01/2015,13451,1350,843,598,2365,155183,2006,495283,2504,18260,...,111684,3,350,1008,1177,1005,33,11,642,567
29/03/2015,7579,698,415,352,245,87302,990,222041,1292,9810,...,121335,0,161,493,546,398,38,14,343,287
29/04/2015,12377,1187,772,518,1644,142231,1675,389681,2162,15210,...,158271,5,285,558,567,534,43,26,545,511
29/05/2015,12133,1043,680,496,2220,138014,1552,355303,1916,14630,...,155366,9,275,520,566,482,30,18,509,446
29/06/2015,12301,1206,779,529,854,140526,1776,344888,2246,16300,...,150846,6,345,512,445,429,34,37,588,500
29/07/2015,11571,1086,739,518,1524,130672,1564,332140,1971,14570,...,152529,0,294,539,463,432,39,19,511,444
29/08/2015,10813,951,619,486,2387,122308,1397,303575,1764,13300,...,98410,1,252,653,441,397,32,33,479,404
29/09/2015,12800,1250,827,563,1323,147117,1792,468946,2292,16330,...,177234,0,340,713,557,447,26,30,578,541
29/10/2015,13326,1264,842,604,2220,152754,1775,444568,2266,17530,...,183317,1,315,1083,758,712,48,10,618,541
29/11/2015,8681,851,523,423,302,100714,1187,299907,1516,12130,...,112372,0,226,919,830,539,32,9,412,360
29/12/2015,9256,840,549,399,903,106794,1241,315354,1572,11610,...,108225,0,277,709,450,402,29,-2,423,367
30/01/2015,13974,1352,863,633,2814,161004,1914,541813,2463,17740,...,213796,4,425,1156,907,861,36,13,634,573
30/03/2015,10668,952,633,443,672,121119,1378,333245,1731,12700,...,113406,4,281,653,690,489,30,41,448,403
30/04/2015,11189,1178,770,557,2055,129717,1684,352123,2130,15550,...,147145,0,368,578,498,440,74,16,545,487
30/05/2015,9440,918,624,459,2338,109208,1415,409140,1729,12410,...,141664,0,235,569,392,362,45,31,447,388
30/06/2015,13631,1403,967,624,1497,158810,2068,459367,2578,18560,...,137459,2,490,593,551,500,36,14,670,592
30/07/2015,11286,1066,741,519,1890,128786,1559,349535,1915,14480,...,135792,0,282,532,439,393,46,34,511,461
30/08/2015,8697,771,482,390,278,99906,1139,245103,1435,11050,...,97724,-1,248,495,360,352,19,10,393,322
30/09/2015,13858,1382,906,599,1952,161626,2068,450301,2610,18120,...,185697,4,361,761,595,498,21,32,642,588
30/10/2015,12848,1269,824,598,2658,149298,1757,461661,2233,17210,...,175731,6,289,1058,699,655,69,23,591,525
30/11/2015,13894,1350,862,611,946,162227,1921,453128,2435,18250,...,124923,2,394,1328,1219,862,51,21,645,581
30/12/2015,8606,750,457,349,1080,95206,1110,302691,1423,9990,...,105446,3,293,846,754,477,19,24,351,323
31/01/2015,10519,943,579,437,2338,119848,1382,333085,1740,12300,...,99256,8,377,885,636,550,13,20,440,402
31/03/2015,11548,1083,700,493,1128,131398,1515,324215,1932,14740,...,137138,8,317,592,988,515,44,27,506,449
31/05/2015,7874,786,503,376,277,92083,1120,287014,1403,10810,...,81751,2,265,502,422,372,39,17,382,318
31/07/2015,14068,1273,860,624,2688,161045,1864,374496,2294,17200,...,121418,1,336,658,525,456,49,40,602,535
31/08/2015,10194,865,533,447,606,112567,1202,299680,1453,12370,...,121489,4,233,571,535,489,65,32,431,350
31/10/2015,11127,1018,659,493,2548,127474,1519,359569,1891,13430,...,120241,0,283,1003,585,444,14,11,495,427
31/12/2015,8985,903,584,458,1615,104478,1317,332558,1661,11850,...,117646,2,245,840,602,505,17,-1,411,384

In [23]:
dates['Number_of_Casualties'].idxmax()

'05/11/2015'

In [24]:
dates['Number_of_Casualties']['05/11/2015']

696

In [25]:
dates['Number_of_Casualties'].idxmin()

'28/12/2015'

In [26]:
dates['Number_of_Casualties']['28/12/2015']

265

In [27]:
#the day of lowest no. of casualties (21507) >>>>> 1
#the day of highest no. of casualties (29677) >>>>> 6
days=ds.groupby('Day_of_Week').sum()

In [28]:
days

,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Local_Authority_(District),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,...,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
Day_of_Week,,,,,,,,,,,,,,,,,,,,,
1,461169,42664,27383,21507,5295543,61631,14670018,78573,603720,32858,...,5360539,49,12110,32819,23333,19901,1500,1376,21243,17700
2,599913,57010,37019,26524,6894772,82006,19980508,103339,767360,45883,...,7202992,152,16917,37821,31257,26820,1901,1091,26914,24031
3,638604,60967,39739,27587,7349143,87965,21191819,110490,807770,49800,...,8100448,191,18254,40004,32658,28041,2392,1257,28502,25948
4,636294,60706,39730,27567,7318347,87958,20976096,110721,810220,49873,...,7915611,196,17922,39711,32370,27521,2231,1283,28487,25887
5,633373,61106,39810,27999,7275710,88588,20938725,111062,809820,50209,...,7910894,162,18318,41095,31697,27573,2039,1162,28439,26011
6,674310,63460,41565,29677,7736880,92058,21852754,115862,852880,51207,...,7953744,166,18655,43427,32411,28554,2055,1256,29911,26934
7,543590,50937,32566,25306,6251797,74355,17929362,93830,694250,39995,...,6382564,92,15303,38491,27932,23477,1725,1224,24512,21324

In [29]:
days['Number_of_Casualties'].idxmax()

6

In [30]:
days['Number_of_Casualties'].idxmin()

1

In [31]:
#further look at day '05/11/2015'
Highest_date=ds.loc[ds['Date'] == '05/11/2015']

In [32]:
Highest_date

,Accident_Index,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),...,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
535,201501BS70653,1,3,1,1,05/11/2015,5,02:19,12,E09000020,...,0,0,0,4,1,1,0,0,1,1
538,201501BS70658,1,3,2,1,05/11/2015,5,19:31,12,E09000020,...,0,0,0,4,2,2,0,0,1,1
539,201501BS70659,1,3,2,1,05/11/2015,5,15:33,12,E09000020,...,3220,0,5,1,1,1,0,0,1,1
573,201501BS70703,1,3,2,1,05/11/2015,5,15:00,12,E09000020,...,0,0,0,1,1,1,0,0,1,1
2240,201501CW11665,1,2,2,1,05/11/2015,5,11:20,1,E09000033,...,0,0,0,1,1,1,0,0,1,1
2241,201501CW11666,1,3,1,1,05/11/2015,5,10:15,1,E09000033,...,0,0,5,1,1,1,0,0,1,1
2242,201501CW11667,1,3,2,1,05/11/2015,5,18:01,1,E09000033,...,0,0,0,4,1,1,0,0,1,1
2243,201501CW11668,1,3,1,1,05/11/2015,5,20:19,1,E09000033,...,312,0,0,4,1,1,0,0,1,1
2277,201501CW11707,1,2,2,1,05/11/2015,5,08:12,1,E09000033,...,0,0,0,1,2,2,0,0,1,2
3278,201501EK40987,1,3,1,1,05/11/2015,5,17:21,2,E09000007,...,525,0,1,4,2,2,0,0,1,1
3339,201501EK41072,1,3,2,1,05/11/2015,5,18:04,2,E09000007,...,4200,0,5,4,4,2,0,0,1,1
4077,201501EO40800,1,3,2,1,05/11/2015,5,10:30,3,E09000019,...,0,0,0,1,1,2,0,0,1,2
4086,201501EO40810,1,3,2,1,05/11/2015,5,18:00,3,E09000019,...,502,0,0,4,9,2,0,0,1,2
4093,201501EO40817,1,3,2,1,05/11/2015,5,15:00,3,E09000019,...,0,0,1,1,2,2,0,0,1,2
4099,201501EO40823,1,3,2,1,05/11/2015,5,18:15,3,E09000019,...,0,0,5,4,2,2,0,0,1,1
4123,201501EO40849,1,3,2,1,05/11/2015,5,19:30,3,E09000019,...,0,0,1,4,2,2,0,6,1,1
4791,201501FH10612,1,3,2,1,05/11/2015,5,12:10,11,E09000013,...,0,0,1,1,1,1,0,0,1,2
5539,201501GD10880,1,3,2,1,05/11/2015,5,10:15,4,E09000012,...,0,0,4,1,1,2,0,0,1,1
5541,201501GD10882,1,3,2,1,05/11/2015,5,07:32,4,E09000012,...,0,0,1,1,1,2,0,0,1,1
5547,201501GD10888,1,3,1,1,05/11/2015,5,23:00,4,E09000012,...,0,0,0,4,1,2,0,0,1,1
5561,201501GD10904,1,3,2,1,05/11/2015,5,16:50,4,E09000012,...,0,0,4,4,4,2,0,0,1,1
5563,201501GD10906,1,3,1,1,05/11/2015,5,09:10,4,E09000012,...,0,0,0,1,1,2,0,0,1,1
6556,201501HT21018,1,3,1,1,05/11/2015,5,18:35,5,E09000030,...,0,0,0,4,1,2,0,0,1,2
6559,201501HT21022,1,3,2,1,05/11/2015,5,07:35,5,E09000030,...,1206,0,0,1,1,1,0,0,1,2
6560,201501HT21023,1,3,1,1,05/11/2015,5,12:05,5,E09000030,...,0,0,0,1,1,2,0,0,1,2
6590,201501HT21056,1,3,2,1,05/11/2015,5,18:39,5,E09000030,...,0,0,0,4,2,2,0,0,1,1
6598,201501HT21064,1,3,1,1,05/11/2015,5,03:55,5,E09000030,...,0,0,0,4,1,2,0,0,1,1
6796,201501ID60078,1,3,1,1,05/11/2015,5,14:10,57,EHEATHROW,...,0,0,0,1,2,2,0,0,1,1
7352,201501JC30711,1,3,2,1,05/11/2015,5,08:40,13,E09000031,...,0,0,0,1,1,2,0,0,1,1
7354,201501JC30713,1,3,1,1,05/11/2015,5,15:35,13,E09000031,...,0,0,0,1,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129940,2015621501942,62,3,2,1,05/11/2015,5,14:20,745,W06000011,...,0,0,0,1,2,2,0,0,1,1
130639,201563AC38215,63,3,2,2,05/11/2015,5,16:17,751,W06000010,...,4309,0,0,4,2,2,0,0,2,1
131095,201563CP22215,63,2,2,4,05/11/2015,5,17:03,752,W06000009,...,0,0,0,6,2,2,0,0,2,1
131131,201563CP25815,63,2,1,2,05/11/2015,5,19:03,752,W06000009,...,0,0,0,4,1,2,0,0,2,1
131563,201563DP41115,63,3,3,1,05/11/2015,5,16:50,753,W06000023,...,0,0,0,6,2,2,0,0,2,1
131944,201591NN30918,91,3,2,1,05/11/2015,5,18:00,927,S12000017,...,0,0,0,4,1,1,0,0,1,1
132594,2015921501238,92,3,1,1,05/11/2015,5,18:10,910,S12000033,...,0,0,4,4,1,2,0,0,1,1
132595,2015921501239,92,2,2,1,05/11/2015,5,18:30,910,S12000033,...,0,0,0,4,2,2,0,0,1,1
132607,2015921501259,92,2,2,1,05/11/2015,5,12:46,911,S12000034,...,0,0,0,1,1,2,0,0,2,1
133142,2015930000559,93,3,2,1,05/11/2015,5,11:10,918,S12000042,...,0,0,0,1,1,1,0,0,1,1
133522,2015941500878,94,3,2,2,05/11/2015,5,18:45,925,S12000015,...,917,0,0,1,2,2,0,0,2,2
135306,2015950005024,95,2,1,1,05/11/2015,5,07:52,923,S12000036,...,0,0,0,1,1,2,0,0,1,1
135307,2015950005025,95,3,1,1,05/11/2015,5,09:10,923,S12000036,...,700,0,5,1,1,1,0,0,1,1
135308,2015950005026,95,3,1,1,05/11/2015,5,13:15,923,S12000036,...,0,0,4,1,1,1,0,0,1,1
135309,2015950005027,95,3,1,1,05/11/2015,5,06:45,940,S12000040,...,0,0,0,6,1,2,0,0,2,1
135310,2015950005029,95,3,2,3,05/11/2015,5,19:00,940,S12000040,...,0,0,0,6,7,2,0,0,2,1
135311,2015950005031,95,3,3,1,05/11/2015,5,19:17,923,S12000036,...,0,0,0,4,7,2,0,0,1,1
135312,2015950005032,95,3,2,1,05/11/2015,5,19:30,923,S12000036,...,0,0,0,4,2,2,0,0,1,1
135314,2015950005036,95,3,1,1,05/11/2015,5,22:30,914,S12000026,...,0,0,0,6,7,2,0,0,2,1
135327,2015950005059,95,3,1,1,05/11/2015,5,15:00,923,S12000036,...,0,0,8,1,1,2,0,0,1,1
135329,2015950005062,95,3,3,1,05/11/2015,5,08:50,923,S12000036,...,902,0,0,1,9,1,0,0,1,2
135421,2015950005367,95,3,1,1,05/11/2015,5,08:48,923,S12000036,...,900,0,4,1,1,2,0,0,1,1
136099,2015961501784,96,3,3,2,05/11/2015,5,02:45,924,S12000014,...,0,0,0,6,7,2,0,7,2,1
136100,2015961501786,96,3,2,3,05/11/2015,5,17:40,939,S12000030,...,0,0,0,4,2,2,0,0,1,1
136105,2015961501802,96,3,2,1,05/11/2015,5,17:00,924,S12000014,...,0,0,0,4,1,2,0,0,2,1
136325,201597AC00311,97,3,2,1,05/11/2015,5,18:30,926,S12000043,...,0,0,0,4,1,2,0,0,1,1
136784,201597BD01311,97,3,2,1,05/11/2015,5,13:00,926,S12000043,...,8,0,5,1,2,2,0,0,1,2
137079,201597GA00511,97,3,1,1,05/11/2015,5,17:00,926,S12000043,...,0,0,0,4,2,2,0,0,1,2
137085,201597GA00711,97,3,3,1,05/11/2015,5,16:40,926,S12000043,...,0,0,0,4,2,2,0,0,1,1
139598,201597UD00411,97,3,2,1,05/11/2015,5,14:55,937,S12000028,...,0,0,4,1,2,2,0,0,1,2

In [33]:
Highest_date.describe(include='all')

,Accident_Index,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),...,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
count,535,535.000000,535.000000,535.000000,535.000000,535,535.0,535,535.000000,535,...,535.000000,535.000000,535.000000,535.000000,535.000000,535.000000,535.000000,535.000000,535.000000,535.000000
unique,535,NaN,NaN,NaN,NaN,1,NaN,321,NaN,157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,201550JS2P017,NaN,NaN,NaN,NaN,05/11/2015,NaN,17:00,NaN,E10000030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,535,NaN,13,NaN,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,28.818692,2.861682,1.818692,1.300935,NaN,5.0,NaN,327.564486,NaN,...,346.553271,0.007477,0.809346,2.738318,2.119626,1.813084,0.112150,0.052336,1.319626,1.200000
std,NaN,23.807020,0.366593,0.691594,0.682238,NaN,0.0,NaN,248.394038,NaN,...,1156.058966,0.122169,1.919032,1.880993,1.774953,0.456555,0.787628,0.584658,0.466768,0.405025
min,NaN,1.000000,1.000000,1.000000,1.000000,NaN,5.0,NaN,1.000000,NaN,...,-1.000000,0.000000,0.000000,1.000000,1.000000,-1.000000,0.000000,0.000000,1.000000,1.000000
25%,NaN,6.000000,3.000000,1.000000,1.000000,NaN,5.0,NaN,92.000000,NaN,...,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,1.000000,1.000000
50%,NaN,30.000000,3.000000,2.000000,1.000000,NaN,5.0,NaN,309.000000,NaN,...,0.000000,0.000000,0.000000,1.000000,2.000000,2.000000,0.000000,0.000000,1.000000,1.000000
75%,NaN,44.000000,3.000000,2.000000,1.000000,NaN,5.0,NaN,496.000000,NaN,...,0.000000,0.000000,0.000000,4.000000,2.000000,2.000000,0.000000,0.000000,2.000000,1.000000
max,NaN,97.000000,3.000000,5.000000,5.000000,NaN,5.0,NaN,940.000000,NaN,...,8323.000000,2.000000,8.000000,7.000000,9.000000,5.000000,7.000000,7.000000,2.000000,3.000000

In [34]:
max_time=Highest_date.groupby('Time').sum()

In [35]:
max_time

,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Local_Authority_(District),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,...,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident
Time,,,,,,,,,,,,,,,,,,,,,
00:01,34,2,5,2,5,385,1,1,3,70,...,0,0,0,6,1,1,0,0,2,1
00:02,12,3,1,1,5,186,3,165,6,60,...,287,0,0,4,1,2,0,0,2,1
00:05,30,3,1,1,5,320,5,361,6,30,...,0,0,0,4,2,2,0,0,1,2
00:10,44,3,2,1,5,498,3,2030,6,30,...,0,0,0,5,2,2,0,0,1,2
00:27,21,6,3,4,10,326,6,453,7,70,...,-1,0,4,8,3,3,0,0,2,2
00:30,60,2,1,5,5,725,5,235,6,60,...,0,0,0,6,8,2,7,0,2,1
00:54,42,2,2,3,5,456,1,11,3,70,...,0,0,0,4,1,2,0,0,2,2
01:05,1,3,2,1,5,28,3,5,6,30,...,0,0,0,4,2,2,0,0,1,1
01:20,48,3,2,2,5,570,3,3211,3,30,...,0,0,0,4,1,1,0,0,1,1
02:03,20,3,1,2,5,300,6,0,6,30,...,0,0,0,4,1,1,0,0,1,1
02:12,42,3,1,1,5,461,3,133,1,60,...,0,0,0,7,2,2,0,0,2,2
02:15,20,2,1,2,5,309,6,0,6,30,...,0,0,0,4,2,2,0,0,1,1
02:19,1,3,1,1,5,12,3,308,6,30,...,0,0,0,4,1,1,0,0,1,1
02:45,96,3,3,2,5,924,1,80,3,70,...,0,0,0,6,7,2,0,7,2,1
03:51,52,3,2,2,5,601,6,0,9,20,...,0,0,0,4,1,2,0,0,1,1
03:55,1,3,1,1,5,5,3,11,6,30,...,0,0,0,4,1,2,0,0,1,1
05:25,46,3,2,1,5,533,3,256,2,30,...,0,0,5,4,2,2,0,0,1,1
06:00,5,2,2,1,5,91,6,0,6,30,...,0,0,0,4,2,2,0,0,1,1
06:10,43,2,1,3,5,470,3,3095,6,30,...,3034,0,0,6,1,1,0,0,2,1
06:26,23,2,2,1,5,292,3,45,3,50,...,0,0,0,1,2,2,0,0,2,2
06:28,55,3,2,1,5,643,4,3068,6,30,...,3061,0,8,4,2,2,0,0,1,1
06:32,7,3,2,1,5,129,3,54,2,30,...,54,0,4,4,9,2,0,0,1,1
06:38,5,3,2,1,5,95,6,0,6,30,...,0,0,4,4,1,2,0,0,1,1
06:40,54,8,4,5,15,685,8,1803,19,160,...,6395,0,0,9,11,5,0,0,5,3
06:41,43,3,2,1,5,473,6,7302,1,30,...,7302,0,0,4,1,2,0,0,1,1
06:45,203,12,9,5,20,2148,15,6018,16,190,...,5076,0,0,15,7,8,0,0,8,4
06:55,48,4,3,2,10,568,9,570,9,60,...,0,0,5,5,3,4,0,0,2,2
06:58,45,3,2,1,5,40,1,25,7,70,...,0,0,0,1,1,2,0,0,2,1
07:00,13,3,2,1,5,204,6,0,6,30,...,0,0,0,1,1,2,0,0,1,2
07:05,22,3,2,1,5,286,3,458,6,30,...,0,0,0,1,2,2,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20:50,22,3,2,1,5,286,3,53,1,60,...,53,0,0,1,1,1,0,0,2,2
20:55,50,3,2,1,5,583,3,374,6,30,...,0,0,8,4,1,2,0,0,1,1
20:57,35,2,1,1,5,392,4,1101,6,40,...,35,0,0,6,1,2,0,0,2,1
20:59,61,3,3,1,5,734,4,4248,6,60,...,0,0,0,6,2,2,0,0,2,1
21:00,73,9,5,3,15,940,15,34,18,90,...,0,0,5,15,4,5,0,0,3,5
21:12,31,3,2,1,5,344,3,6191,6,40,...,0,0,0,4,1,1,0,0,1,1
21:15,4,3,2,1,5,71,6,0,6,30,...,0,0,0,4,1,2,0,0,1,1
21:24,55,2,2,1,5,643,3,341,6,30,...,0,0,0,4,1,2,0,0,2,1
21:40,82,9,4,3,15,970,15,361,16,100,...,361,0,5,14,11,6,0,0,3,3
21:44,11,2,2,1,5,169,3,689,6,30,...,188,0,0,4,1,2,0,0,1,1
21:45,33,3,2,3,5,364,3,426,6,30,...,1764,0,5,4,2,2,0,0,1,1
21:59,43,2,1,1,5,472,6,7201,6,30,...,329,0,8,4,1,2,0,0,1,1
22:00,64,15,7,10,25,825,16,1557,26,250,...,3733,0,5,24,6,8,4,0,8,6
22:03,14,3,2,3,5,211,6,0,6,20,...,0,0,0,4,1,2,0,0,1,1
22:05,10,3,1,1,5,146,3,184,3,50,...,195,0,0,4,7,2,0,0,1,1
22:06,21,3,1,1,5,252,3,5,3,70,...,0,0,0,6,1,2,0,0,2,1
22:11,50,3,1,1,5,586,6,0,6,60,...,0,0,0,6,1,2,0,0,2,1
22:20,33,3,1,1,5,364,5,1743,6,30,...,1739,0,5,4,1,2,0,0,1,1
22:25,37,3,2,1,5,414,6,0,6,30,...,0,0,0,4,1,2,0,0,1,1
22:30,139,5,3,2,10,1410,9,699,12,90,...,0,0,0,12,9,4,0,0,4,2
22:38,45,3,2,2,5,511,3,31,3,50,...,0,0,0,6,2,2,0,0,2,1
22:40,41,3,1,1,5,438,5,57,6,60,...,0,0,0,6,2,2,0,0,2,1
23:00,33,6,3,2,10,358,7,2561,12,70,...,0,0,0,11,10,1,0,0,3,3
23:05,64,6,3,2,10,803,6,5607,12,90,...,0,0,0,11,3,4,0,0,3,2
23:12,21,3,2,1,5,257,6,0,6,30,...,0,0,0,1,1,1,0,0,1,2
23:15,62,3,1,4,5,742,3,4054,1,40,...,0,0,0,4,1,1,0,0,1,1
23:20,33,3,2,1,5,367,4,582,1,30,...,4434,0,0,4,2,2,0,0,1,2
23:42,4,3,2,2,5,70,3,677,6,30,...,0,0,0,4,1,2,0,0,1,1
23:45,3,3,2,2,5,62,4,5299,6,30,...,0,0,0,4,1,2,0,0,2,1
23:50,4,2,1,2,5,73,3,675,6,50,...,0,0,0,6,2,2,0,0,2,1

In [36]:
max_time['Number_of_Casualties'].sort_values()

Time
11:19     1
12:41     1
19:05     1
12:46     1
12:47     1
18:52     1
18:50     1
18:43     1
13:10     1
12:39     1
13:15     1
13:29     1
18:39     1
13:51     1
13:53     1
18:25     1
18:24     1
18:23     1
14:12     1
13:20     1
12:38     1
12:28     1
12:21     1
19:45     1
19:40     1
19:35     1
11:12     1
16:53     1
19:31     1
11:22     1
         ..
00:30     5
18:00     5
06:40     5
17:40     5
12:45     5
10:40     5
19:26     5
17:30     5
15:15     6
07:45     6
17:15     6
08:30     6
13:00     6
18:40     6
17:20     6
19:10     6
08:40     6
19:00     7
09:10     7
13:30     7
16:00     8
19:30     8
17:45     8
12:00     8
15:50     9
08:00     9
17:50    10
22:00    10
17:00    13
18:30    13
Name: Number_of_Casualties, Length: 321, dtype: int64